{% extends "base.html" %}
{% comment %} {%  load "custom_tags" %} {% endcomment %}

{% block styles %}
<style>
    .header-main *{
      color:white
    }

    .data-table {
      height:60vh;
    }

    td ,th{
      color:white;
    }

    .today {
      background:green;
    }

    .row-element{
      height:50px;
    }

</style>
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center header-main">
    <h1 class="display-5 fw-bold text-body-emphasis">ATTENDANCE MANAGER</h1>
    <div class="col-lg-6 mx-auto">
    </div>
  </div>
  <div class="table-responsive small data-table">
        <table class="table table-sm">
          <thead>
            <tr>
            <th>Employee Name</th>
            <th>Employee ID</th>
              {% for date in date_tuple %}
              {% if date == today %}
              <th class="date-block" style="background-color:green;">Today({{date}})</th>
              {% else %}
              <th class="date-block" >{{date}}</th>
              {% endif %}
              {%  endfor %}
            </tr>
          </thead>
          <tbody>
          {% for employee in data %}
            <tr class="row-element">
              <td >{{employee.employee_name}}</td>
              <td >{{employee.employee_id}}</td>
              {% for date in date_tuple %}

              <td class="selector">
              <select name="status" class="status-selector">
              {% for option in options %}
              <option value="{{option.value}}">{{option.label}}</option>
              {% endfor %}
              {% for record in attendance_data.employee.employee_id %}
              {% if record.date == date %}
              <option value="{{attendance_status}}" selected>{{attendance_status}}</option>
              {%endif%}
              
              {% endfor %}

              </select>
              </td>
              {% endfor %}
            </tr>
            
            {% endfor %}

          </tbody>
        </table>
      </div>
{% endblock content %}

{% block scriptjs %}
<script>

</script>
{% endblock scriptjs %}


   