{% extends "base.html" %}
{% comment %} {%  load "custom_tags" %} {% endcomment %}

{% block styles %}
<style>
    .header-main *{
      color:white
    }

    .data-table {
      height:60vh;
    }

    td ,th{
      color:white;
    }

    .today {
      background:green;
    }

    .row-element{
      height:50px;
    }
    p {
      color:white;
    }
    .title-main {
      align:top;
    }

</style>
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center header-main">
    <h1 class="display-5 fw-bold text-body-emphasis title-main">ATTENDANCE MANAGER</h1>
    <div class="col-lg-6 mx-auto">
    </div>
  </div>
  <div class="table-responsive small data-table">
        <table class="table table-sm">
          <thead>
            <tr>
            <th>Employee Name</th>
            <th>Employee ID</th>
              {% for date in date_tuple %}
              {% if date == today %}
              <th class="date-block" style="background-color:green;">Today({{date}})</th>
              {% else %}
              <th class="date-block" >{{date}}</th>
              {% endif %}
              {%  endfor %}
            </tr>
          </thead>
          <tbody>
          {% for attendance in data %}
            <tr class="row-element">
            <td>{{attendance.employee_name}}</td>
            <td>{{attendance.employee_id}}</td>
              {% for date in date_tuple %}
              <td class="selector" id="my_select">
              <select name="status" class="status-selector">
              {% for option in options %}
              <option 
              value="{{option.value}}"
              {% if attendance.get_status_for_date == "{{option.value}}" %} selected style="background:black;"{% endif %}
              > {{option.label}}</option>
              {% endfor %}
              </select>
              </td>
              {% endfor %}
            </tr>
            
            {% endfor %}

          </tbody>
        </table>
      </div>
{% endblock content %}

{% block scriptjs %}

<script>
console.log("heyy");
  document.addEventListener("DOMContentLoaded",function(){
    var selectelement = document.getElementById("my_select");
    var selectedValue = attendance_data.employee.employee_id;
    selectelement.value = selectedValue;
  })
</script>
{% endblock scriptjs %}


   {% comment %}    {% endcomment %}