{% extends "base.html" %}
{% load custom_tags %}

{% block styles %}
<style>
 * {
  color:black;
 }

 .main-div {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
  width:100%;
  height:85vh
 }

.main-heading {
  color:black;
}

.main-table-header{
  background-color: CDE8E5;
 }

 .main-table-header *{
  color:black;
 }

.past-dates{
color: black;
}

.today{
color: green;
}

.future-dates{
color:black;
}

 .main-table {
  width:100%;
 }


.table-body-rows *{
  color: black;
}
.status-selector{
  color: black;
}


</style>
{% endblock %}

{% block content %}
<div class="main-div">
  <div>
    <h1 class="main-heading">ATTENDANCE MANAGER</h1>
  </div>
  <div>
    <table class="table main-table">
      <thead class="main-table-header">
        <tr>
          <th>Employee Name</th>
          <!-- <th>Employee ID</th> -->
          <th class="past-dates">04 May 24</th>
          <th class="past-dates">05 May 24</th>
          <th class="past-dates">06 May 24</th>
          <th class="past-dates">07 May 24</th>
          <th class="past-dates">08 May 24</th>
          <th class="past-dates">09 May 24</th>
          <th class="past-dates">10 May 24</th>
          <th class="past-dates">11 May 24</th>
          <th class="past-dates">12 May 24</th>
          <th class="today">13 May 24</th>
          <th class="future-dates">14 May 24</th>
          <th class="future-dates">15 May 24</th>
          <th class="future-dates">16 May 24</th>
          <th class="future-dates">17 May 24</th>
          <th class="future-dates">18 May 24</th>
          <th class="future-dates">19 May 24</th>
          <th class="future-dates">20 May 24</th>
          <th class="future-dates">21 May 24</th>
          <th class="future-dates">22 May 24</th>
        </tr>
      </thead>
      <tbody class="main-table-body">
        <tr class="table-body-rows">
          <td>vk</td>
          <!-- <td>01</td> -->
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
        </tr>
        <tr class="table-body-rows">
          <td>mg</td>
          <!-- <td>02</td> -->
          
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
        <tr class="table-body-rows">
          <td>va</td>
          <!-- <td>03</td> -->
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
        <tr class="table-body-rows">
          <td>sg</td>
          <!-- <td>04</td> -->
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
          <td><select name="status" class="status-selector">
            <option value="Present">P</option>
            <option value="Vacation">V</option>
            <option value="Late">L</option>
            <option value="Sick">S</option>
            </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
            <td><select name="status" class="status-selector">
              <option value="Present">P</option>
              <option value="Vacation">V</option>
              <option value="Late">L</option>
              <option value="Sick">S</option>
              </select></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block scriptjs %}

<script>
console.log("heyy");
  document.addEventListener("DOMContentLoaded",function(){
    var selectelement = document.getElementById("my_select");
    var selectedValue = attendance_data.employee.employee_id;
    selectelement.value = selectedValue;
  })
</script>
{% endblock scriptjs %}
